<div>
    <h2 id="page-heading">
        <span>Rooms</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room" [routerLink]="['/room/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Room
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rooms?.length === 0">
        <span>No rooms found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rooms && rooms.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Price</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Acreage</span></th>
                    <th scope="col" ><span>Decription</span></th>
                    <th scope="col" ><span>Motel</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let room of rooms ;trackBy: trackId">
                    <td><a [routerLink]="['/room', room.id, 'view']">{{ room.id }}</a></td>
                    <td>{{ room.title }}</td>
                    <td>{{ room.price }}</td>
                    <td>{{ room.status }}</td>
                    <td>{{ room.acreage }}</td>
                    <td>{{ room.decription }}</td>
                    <td>
                        <div *ngIf="room.motel">
                            <a [routerLink]="['/motel', room.motel?.id, 'view']" >{{ room.motel?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/room', room.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/room', room.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(room)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
