<div>
    <h2 id="page-heading">
        <span>Contracts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contract" [routerLink]="['/contract/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Contract
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contracts?.length === 0">
        <span>No contracts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contracts && contracts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Check In Date</span></th>
                    <th scope="col" ><span>Check Out Date</span></th>
                    <th scope="col" ><span>Decription</span></th>
                    <th scope="col" ><span>Customer</span></th>
                    <th scope="col" ><span>Room</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contract of contracts ;trackBy: trackId">
                    <td><a [routerLink]="['/contract', contract.id, 'view']">{{ contract.id }}</a></td>
                    <td>{{ contract.checkInDate | date:'mediumDate' }}</td>
                    <td>{{ contract.checkOutDate | date:'mediumDate' }}</td>
                    <td>{{ contract.decription }}</td>
                    <td>
                        <div *ngIf="contract.customer">
                            <a [routerLink]="['/customer', contract.customer?.id, 'view']" >{{ contract.customer?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="contract.room">
                            <a [routerLink]="['/room', contract.room?.id, 'view']" >{{ contract.room?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contract', contract.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contract', contract.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contract)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
