<div>
    <h2 id="page-heading">
        <span>Services</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-services" [routerLink]="['/services/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Services
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="services?.length === 0">
        <span>No services found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="services && services.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Price</span></th>
                    <th scope="col" ><span>Decription</span></th>
                    <th scope="col" ><span>Motel</span></th>
                    <th scope="col" ><span>Room</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let services of services ;trackBy: trackId">
                    <td><a [routerLink]="['/services', services.id, 'view']">{{ services.id }}</a></td>
                    <td>{{ services.title }}</td>
                    <td>{{ services.price }}</td>
                    <td>{{ services.decription }}</td>
                    <td>
                        <div *ngIf="services.motel">
                            <a [routerLink]="['/motel', services.motel?.id, 'view']" >{{ services.motel?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="services.room">
                            <a [routerLink]="['/room', services.room?.id, 'view']" >{{ services.room?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/services', services.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/services', services.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(services)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
