<div>
    <h2 id="page-heading">
        <span>Extra Payment Data</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extra-payment-data" [routerLink]="['/extra-payment-data/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Extra Payment Data
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="extraPaymentData?.length === 0">
        <span>No extraPaymentData found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="extraPaymentData && extraPaymentData.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Cost</span></th>
                    <th scope="col" ><span>Decription</span></th>
                    <th scope="col" ><span>Bill Details</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let extraPaymentData of extraPaymentData ;trackBy: trackId">
                    <td><a [routerLink]="['/extra-payment-data', extraPaymentData.id, 'view']">{{ extraPaymentData.id }}</a></td>
                    <td>{{ extraPaymentData.cost }}</td>
                    <td>{{ extraPaymentData.decription }}</td>
                    <td>
                        <div *ngIf="extraPaymentData.billDetails">
                            <a [routerLink]="['/bill-details', extraPaymentData.billDetails?.id, 'view']" >{{ extraPaymentData.billDetails?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/extra-payment-data', extraPaymentData.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/extra-payment-data', extraPaymentData.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(extraPaymentData)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
