<div>
    <h2 id="page-heading">
        <span>Biographies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-biography" [routerLink]="['/biography/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Biography
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="biographies?.length === 0">
        <span>No biographies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="biographies && biographies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>From Date</span></th>
                    <th scope="col" ><span>To Date</span></th>
                    <th scope="col" ><span>Address</span></th>
                    <th scope="col" ><span>Working Decription</span></th>
                    <th scope="col" ><span>Customer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let biography of biographies ;trackBy: trackId">
                    <td><a [routerLink]="['/biography', biography.id, 'view']">{{ biography.id }}</a></td>
                    <td>{{ biography.fromDate | date:'mediumDate' }}</td>
                    <td>{{ biography.toDate | date:'mediumDate' }}</td>
                    <td>{{ biography.address }}</td>
                    <td>{{ biography.workingDecription }}</td>
                    <td>
                        <div *ngIf="biography.customer">
                            <a [routerLink]="['/customer', biography.customer?.id, 'view']" >{{ biography.customer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/biography', biography.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/biography', biography.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(biography)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
