<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="convenient">
            <h2><span>Convenient</span> {{ convenient.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ convenient.title }}</span>
                </dd>
                <dt><span>Decription</span></dt>
                <dd>
                    <span>{{ convenient.decription }}</span>
                </dd>
                <dt><span>Motel</span></dt>
                <dd>
                    <div *ngIf="convenient.motel">
                        <a [routerLink]="['/motel', convenient.motel?.id, 'view']">{{ convenient.motel?.id }}</a>
                    </div>
                </dd>
                <dt><span>Room</span></dt>
                <dd>
                    <div *ngIf="convenient.room">
                        <a [routerLink]="['/room', convenient.room?.id, 'view']">{{ convenient.room?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/convenient', convenient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
